<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853843703513-kn3b6n34c94jutq6t7qgnk8k7j06oka5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853843703513-kn3b6n34c94jutq6t7qgnk8k7j06oka5</string>
	<key>API_KEY</key>
	<string>AIzaSyDjEQv4lH1PbX6GuhFrQHpuE9DxBWA1wBE</string>
	<key>GCM_SENDER_ID</key>
	<string>853843703513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hosonuma.sakki.odekakekozame</string>
	<key>PROJECT_ID</key>
	<string>kozame-5a299</string>
	<key>STORAGE_BUCKET</key>
	<string>kozame-5a299.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853843703513:ios:4b50d0dd9290487004f0c8</string>
</dict>
</plist>